.header {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  height: 3.75rem;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 15rem;
    height: 6.25rem;
  }
}
